
footer{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    padding: 5px;
    background-color: powderblue;
}
footer div p{
    margin: 40px;
    font-size: 1.3rem;
}